<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" <%= link_to "ToDo List Home", lists_path %>> </a>
    <%= render 'form', list: @list %>
  </div>
</nav>